foj_scores.csv
hori_scores.csv
merged_scores.csv
scores.csv
scores_geo.csv
sensitivity_scores.csv
sensitivity_scores_diffs.csv
sens_scores_difftable.csv
spnos.csv
star_sensitivity_spnos_data.csv
star_sensitivity_spnos_diff.csv
*.tiff
species_*grid.csv
species_*area.csv
species_*count.csv
*Gtestdata.csv
hori_*scores.csv
horiuniq_*scores.csv
horiexcl_*scores.csv
*test.csv
workdata*.csv
FOJHori*.csv
species_cell_rmmoss.csv
Hori_area_weight_filtered*.csv
cell_uniqpref.csv
cell_exclpref.csv
species_uniqpref.csv
species_exclpref.csv
Horisp_resol_diffs.csv
testprefscores.csv
horiw*.csv
tdwg*.csv
hori*mean.csv
prefscores_calc_*methods*.csv
horicell_*.csv
mainsp_famstats*.csv
hori_plot_scoreR.csv
cellpref_score.csv
MOE*.csv
Horicell_kmgrid.csv
HoriFOJ_stardata.csv
conifer_*.csv
RBS*.csv
Utaki*.csv
