foj_scores.csv
hori_scores.csv
merged_scores.csv
scores.csv
scores_geo.csv
sensitivity_scores.csv
sensitivity_scores_diffs.csv
sens_scores_difftable.csv
spnos.csv
star_sensitivity_spnos_data.csv
star_sensitivity_spnos_diff.csv
*.tiff
species_qrgrid.csv
species_x1grid.csv
species_qrarea.csv
species_x1area.csv
species_qrcount.csv
species_x1count.csv
*Gtestdata.csv
hori_*scores.csv
horiuniq_*scores.csv
*test.csv
workdata*.csv
FOJHori*.csv
species_cell_rmmoss.csv
Hori_area_weight_filtered*.csv
cell_uniqpref.csv
species_uniqpref.csv
Horisp_resol_diffs.csv
testprefscores.csv
horiw*.csv
tdwg*.csv
hori*mean.csv
prefscores_calc_*methods.csv
horicell_*.csv
