foj_scores.csv
hori_scores.csv
merged_scores.csv
scores.csv
scores_geo.csv
sensitivity_scores.csv
sens_scores_diff.csv
spnos.csv
star_sensitivity_spnos_data.csv
star_sensitivity_spnos_diff.csv
*.tiff
species_qrgrid.csv
species_x1grid.csv
species_qrarea.csv
species_x1area.csv
species_qrcount.csv
species_x1count.csv
*Gtestdata.csv
hori_*scores.csv
*test.csv
